/* body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
} */

/* Reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Gradient background */
body {
    /* background: linear-gradient(135deg, #ff7eb3, #8e44ad); */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

