@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap");

:root {
    --shiny-cta-bg: #000000;
    --shiny-cta-bg-subtle: #1a1818;
    --shiny-cta-fg: #ffffff;
    --shiny-cta-highlight: blue;
    --shiny-cta-highlight-subtle: #8484ff;
}

/* Reset */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/* Gradient background */
body {
    /* background: linear-gradient(135deg, #ff7eb3, #8e44ad); */
    display: grid;
    place-items: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}






